.common{
    position: absolute;
    border:solid 0.5px black;
    background: deepskyblue;
    border-radius: 50%;
    transform: rotateX(70deg);
}
.common:after{
    content: '';
    display:inline-block;
    position:relative;
    opacity: 0.6;
    background: deepskyblue;
    left: -0.5px;
    border-left: black 0.5px solid;
    border-right: black 0.5px solid;
    border-bottom: black 0.5px solid;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.ellipse{
    z-index: 2;
    margin-left: 175px;
    width:150px;
    height:150px;
}
.ellipse1{
    z-index: 1;
    margin-left: 125px;
    width:250px;
    height:250px;
}
.ellipse2{
    z-index: 0;
    margin-left: 100px;
    width:300px;
    height:300px;
}
.ellipse:after{
    width: 150px;
    height: 150px;
    top: 50%;
}
.ellipse1:after{
    width: 250px;
    height: 250px;
    top: 50%;
}
.ellipse2:after{
    width: 300px;
    height: 300px;
    top: 50%;
}